{% extends "base.html.twig" %}

{% block title %}
Recipe lovers - {{ recipe.name }}
{% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

      <h1 class="mt-4">{{ recipe.name }}</h1>
        <p>Note : {{ recipe.averageRating }} / 5</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ markPercent }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div>
            <span class="badge bg-primary">Créée le {{ recipe.createdAt|date('d/m/Y') }}</span>
        </div>

        <div class="mt-4">
            {% if recipe.time %}
                <p>Temps (en minutes) : {{ recipe.time }}</p>
            {% else %}
                <p>Temps non renseigné</p>
            {% endif %}
        </div>

        <div class="mt-4">
            {% if recipe.nbPeople %}
                <p>Pour  : {{ recipe.nbPeople }}</p>
            {% else %}
                <p>Nombre de personnes non renseigné</p>
            {% endif %}
        </div>

        <div class="mt-4">
            {% if recipe.difficulty %}
                <p>Difficulté : {{ recipe.difficulty }} / 5</p>
            {% else %}
                <p>Difficulté non renseignée</p>
            {% endif %}
        </div>

        <div class="mt-4">
            {% if recipe.price %}
                <p>Prix (en €) : {{ recipe.price }} €</p>
            {% else %}
                <p>Temps non renseigné</p>
            {% endif %}
        </div>

        <div class="mt-4">
            {{ recipe.description|raw }}
        </div>

        <div class="mt-4">
            <p class="mt-4">Ingrédients</p>
            {% for ingredient in recipe.ingredients %}
                <span class="badgle bg-primary">{{ ingredient.name }}</span>
            {% endfor %}
        </div>

        <div class="mark">
            {{ form(form) }}
        </div>

    </div>
{% endblock %}